sudo: false

language: node_js
node_js:
  - node

branches:
  only:
    - main

deploy:
  provider: heroku
  app: testtravis02
  on:
    branch: main
  api_key:
    secure: e9349215-eff8-4792-b879-a08e8906aadd
